include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/madiphstheming *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/madiphstheming/migration *.ini *.py *.mako
