{% set intro = g.site_intro_text %}
<div role="main" class="module-feeds">
   <div class="container">
     <div class="row">
       <div class="col-md-7">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
      {% endblock %}
         
         {% snippet "spatial/snippets/spatial_query.html", default_extent="{ \"type\": \"Polygon\", \"coordinates\": [[[32.48435610572855,-9.054632128778266],[32.48435610572855,-17.27188074931547],[36.008837179890406,-17.27188074931547],[36.008837179890406,-9.054632128778266],[32.48435610572855,-9.054632128778266]]]}" %}
          
       </div>
       <div class="col-md-5">
        <div style="position: relative;">
       <img class="img-fluid" src="{{ h.url_for_static('/main-image-scaled.jpg') }}" alt="Maize field" />
        <div style="position: absolute; top: 40px; left: 40px; background-color: white; padding: 10px;">
          {% if intro %}
            {{ h.render_markdown(intro) }}
          {% endif %}
        </div>
      </div>
        {% block stats %}
        {% snippet 'home/snippets/stats.html' %}
      {% endblock %}
       </div>
     </div>
   </div>
 </div>
